.App {
  text-align: center;
}

.image-cropper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper img {
  width: auto;
  height: 100%;
}

.content {
  max-width: 500px;
  margin: auto;
}